version: '3'
services:
    php_laravel:
        build:
            context: .
            dockerfile: ./.docker/php/Dockerfile
        image: php:latest
        container_name: php_laravel
        hostname: 'php'
        volumes:
            - .:/var/www/html
            - /var/www/html/vendor
            - /var/www/html/node_modules
            - ./.docker/php/www.conf:/usr/local/etc/php-fpm.d/www.conf
        working_dir: /var/www/html
        networks:
            - tako-network
        depends_on:
            - postgres_master

    postgres_master:
        image: postgres:18-alpine
        container_name: postgres-master
        restart: always
        environment:
            POSTGRES_DB: ${DB_DATABASE:-tako_module}
            POSTGRES_USER: ${DB_USERNAME:-fantoca}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-12341234}
        volumes:
            - ./database/data/pgsql:/var/lib/postgresql
            - ./.docker/postgres/primary/postgresql.conf:/etc/postgresql/postgresql.conf:ro
            - ./.docker/postgres/primary/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
            - ./.docker/postgres/init-primary:/docker-entrypoint-initdb.d:ro
        command: >
            postgres
            -c config_file=/etc/postgresql/postgresql.conf
            -c hba_file=/etc/postgresql/pg_hba.conf
        ports:
            - '54322:5432'
        healthcheck:
            # test: ["CMD-SHELL", "pg_isready -U user123 -d test"]
            interval: 5s
            timeout: 3s
            retries: 20
        networks:
            - tako-network

    redis:
        image: redis:alpine
        container_name: tako-redis
        restart: always
        ports:
            - '6379:6379'
        # volumes:
        #   - redis_data:/data
        networks:
            - tako-network

    nginx_laravel:
        build:
            context: .
            dockerfile: ./.docker/nginx/Dockerfile
        image: nginx:latest
        container_name: tako-nginx
        hostname: 'tako-nginx'
        ports:
            - '80:80'
        volumes:
            - .:/var/www/html
            - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php_laravel
        networks:
            - tako-network

networks:
    tako-network:
        driver: bridge
